<div style="margin: 20px; padding: 20px; border: solid 10px black"> 
    <h1>Enter Two Numbers:</h1>
      <form action="/fizz_buzz_form_submit">
        <div>
          <label for="number1">Number 1</label>
          <input type="number" id="number1" name="number1" min="1" max="100" value="<%=number1%>"/>
            
          <label for="number2">Number 2</label>
          <input type="number" id="number2" name="number2" min="1" max="100" value="<%=number2%>"/>
        </div>
        <input type='submit' value='SUBMIT' style="background-color: orangered; width: 100px; height: 50px; text-align: center; text-size: 20px; margin: 20px;"/>
      </form>
  </div>