<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>Express Adventure</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      |
      <a href="/car_status">Car Form!</a>
      |
      <a href="/random_person">Random Person Picker</a>
      |
      <a href="/fizz_buzz">Fizzy Buzzy</a>
    </nav>
  </body>
</html>