<%- include('./partials/header.ejs') %>
  <div style="margin: 20px">
    <h1> The person picked was: </h1>
    <p><%= person %></p>
  </div>
  <%- include('./partials/random_person_form.ejs') %>
<%- include('./partials/footer.ejs') %>